<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YogaAI</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" type="text/css" href="../static/styles.css" />

</head>

<body>
  <header>
    <h1 class="logo">YogaAI * About</h1>

    <ul class="nav">
      <li class="navlink"><a href="index.html">Home</a></li>
      <li class="navlink"><a href="about.html">About</a></li>
      <li class="navlink"><a href="contact.html">Contact</a></li>
    </ul>
    <div class="burger">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <script src="./index.js"></script>
  <div class="lotusbg">
    <div>
        <h1 style="font-size: 50px; top:-20px">About AI Yoga Studio</h1>
        <p style="position:absolute; font-size: 20px; width:1320px; top:195px; left:70px; color: purple">
          In the busy world of today where people are stuck at their computers for hours a day, taking a break to stretch the body and relax the mind is often forgotten.
          Health professionals have discovered that daily exercise is not enough to counter the effects caused by prolonged sedentary behavior.
          And that the only true remedy is to intermittently stretch and move the body. 
          Health professionals have also indicated the benefits of mental relaxation, often associated with meditation,
          an activity that diffuses concentration and allows the mind a break from analytical and emotional auditing.  
          Many people wish to follow these instructions but are too often distracted by the open invitation of just “doing nothing” during these breaks, 
          and frequently become distracted by alternative tasks and activities that don’t allow their body and mind to relax and rest.
          Western Yoga is a group of posture-based physical postures that encourage stress relief and that create just the space needed for the mind to relax and 
          detach from the stress of life. 
          <br>
          <br>
          Guided by our desire to promote better health habits, we created Yoga AI Studio. 
          Yoga AI Studio is a web application made to guide users through practicing a set of yoga poses. 
          The app harnesses the power of AI by using computer vision and pose estimation algorithms.  
          The app’s leading feature is its ability to recognize the user’s posture and detect whether they are performing the pose correctly.
          The opportunity for the project was created by FIU’s UPE SparkDev Program. 
          The aim of the program is to spark the students of FIU's curiosity and desire to learn through multiple semester-long projects and 
          provide them and their team lead with the resources needed to succeed. 
          Our Team built an AI powered application that aims to provide users with an active and healthy alternative activity to mindless scrolling that 
          provides them with a space to relax and detach from the stressors of daily life.
        </p>
    </div>
  </div>
</body>

</html>