<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YogaAI</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet"  type="text/css" href="../static/styles.css" />
    
  </head>
  <body>
    <header>
    <h1 class="logo">YogaAI * About</h1>
    
    <ul class="nav">
      <li class="navlink"><a href="index.html">Home</a></li>
      <li class="navlink"><a href="learn.html">Learn</a></li>
      <li class="navlink"><a href="about.html">About</a></li>
      <li class="navlink"><a href="contact.html">Contact</a></li>
  </ul>
  <div class="burger">
      <i class="fas fa-bars"></i>
  </div>
  </header>
  
  <!-- <img src="{{ url_for('video_feed') }}"> -->
  
    <script src="./index.js"></script>
    <div class="lotusbg">
      <div>
        <h1>Contact</h1>
        <br></br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <br></br>
        <br></br>
        <br></br>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>







        </p>
      </div>
 </div> </body>
</html>