<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YogaAI</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" type="text/css" href="../static/styles.css" />

</head>

<body>
  <header>
    <h1 class="logo">YogaAI * Contact</h1>

    <ul class="nav">
      <li class="navlink"><a href="index.html">Home</a></li>
      <li class="navlink"><a href="about.html">About</a></li>
      <li class="navlink"><a href="contact.html">Contact</a></li>
    </ul>
    <div class="burger">
      <i class="fas fa-bars"></i>
    </div>
  </header>
  <script src="./index.js"></script>


<div class="lotusbg">

  <h2>Meet The Team</h2>
  
  <div class="page-wrapper">
    <div class="profile-box">
      <img src="https://github.com/RoseDeSicilia/AI-Yoga-Instructor/blob/contactpics/rose.jpg?raw=true" >
      <h3>Rose De Sicilia</h3>
      <h4>Lead & Fullstack</h4>
      <div class="btn-container">
        <a href="https://www.linkedin.com/in/rosedesicilia/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
        <a href=""><i class="fab fa-github team-icon"></i></a>
      </div>
    </div>
    <div class="profile-box">
      <img src="https://github.com/RoseDeSicilia/AI-Yoga-Instructor/blob/contactpics/coffeegarcia.jpg?raw=true" >
      <h3>Garcia Milord</h3>
      <h4>Co-Lead & Fullstack</h4>
      <div class="btn-container">
        <a href="https://www.linkedin.com/in/garcia-milord/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
      </div>
    </div>
    <div class="profile-box">
      <img src="https://raw.githubusercontent.com/RoseDeSicilia/AI-Yoga-Instructor/contactpics/nyomiwithy.jpg" >
      <h3>Naomi Guedes</h3>
      <h4>Frontend</h4>
      <div class="btn-container">
        <a href="https://www.linkedin.com/in/naomi-guedes/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
      </div>
    </div>
    <div class="profile-box">
      <img src="https://github.com/RoseDeSicilia/AI-Yoga-Instructor/blob/contactpics/nicole.jpg?raw=true">
      <h3>Nicole Cruz</h3>
      <h4>Data Researcher</h4>
      <div class="btn-container">
        <a href="https://www.linkedin.com/in/nicole-cruz-9955851b9/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
      </div>
    </div>
    <div class="profile-box">
      <img src="https://github.com/RoseDeSicilia/AI-Yoga-Instructor/blob/contactpics/diego.jpg?raw=true">
      <h3>Diego Mendoza</h3>
      <h4>Collaborators</h4>
      <div class="btn-container">
        <a href="https://www.linkedin.com/in/diego-mendoza-534605225/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
      </div>
    </div>
    <div class="profile-box">
      <img src="https://raw.githubusercontent.com/RoseDeSicilia/AI-Yoga-Instructor/contactpics/yaohu.jpg" alt="profile pic">
      <h3>Yaohua Hu</h3>
      <h4>Backend</h4>
      <div class="btn-container">
        <a href="https://www.linkedin.com/in/yaohua-hu/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
      </div>
    </div>
    <div class="profile-box">
      <img src="https://placeimg.com/200/200/tech" alt="profile pic">
      <h3>John Luis</h3>
      <h4>Collaborators</h4>
      <div class="btn-container">
        <a href="https://www.linkedin.com/in/jose-luis-moreyra-jr-22bb8b17b/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
      </div>
    </div>
    <div class="profile-box">
      <img src="https://github.com/RoseDeSicilia/AI-Yoga-Instructor/blob/contactpics/gui.jpg?raw=true">
      <h3>GUI</h3>
      <h4>Collaborators</h4>
      <div class="btn-container">
        <a href="https://www.instagram.com/upefiu/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
      </div>
    </div>
  

</div>

 

  

  
</body>


</html>