<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <title>AI Yoga Studio</title> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" type="text/css" href="../static/styles.css" />

</head>

<body>
  <header>
    <h1 class="logo">Learn</h1>

    <ul class="nav">
      <li class="navlink"><a href="index.html">Home</a></li>
      <li class="navlink"><a href="about.html">About</a></li>
      <li class="navlink"><a href="contact.html">Contact</a></li>
    </ul>
    <div class="burger">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <body>
    <div class="lotusbg">
      <div class="row">
        <div class="column">
          <a class="container" href="forward.html">
            <img src="../static/pose/forwardbendpose.jpg" style="width:100%">
            <div class="overlay">
              <div class="text">Forward Bend Pose</div>
            </div>
          </a>
        </div>
        <div class="column">
          <a class="container" href="mountain.html">
            <img src="../static/pose/mountainpose.jpg" style="width:100%">
            <div class="overlay">
              <div class="text">Mountain Pose</div>
            </div>
          </a>
        </div>
        <div class="column">
          <a class="container" href="warrior1.html">
            <img src="../static/pose/warrioripose.jpg" style="width:100%">
            <div class="overlay">
              <div class="text">Warrior I Pose</div>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="warrior2.html" class="container">
            <img src="../static/pose/warrrioriipose.jpg" style="width:100%">
            <div class="overlay">
              <div class="text">Warrior II Pose</div>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="warrior3.html" class="container">
            <img src="../static/pose/warrioriiipose.jpg" style="width:100%">
            <div class="overlay">
              <div class="text">Warrior III Pose</div>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="" class="container">
            <img src="../static/pose/comingsoon.jpg" style="width:100%">
            <!-- <div class="overlay">
              <div class="text">Warrior III Pose</div>
            </div> -->
          </a>
        </div>
      </div>
    </div>
  </body>
  <script src="./index.js"></script>
</body>

</html>