<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <title>AI Yoga Studio</title> -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />

</head>

<body>
    <header>
        <h1 class="logo">AI Yoga Studio</h1>

        <ul class="nav">
            <li class="navlink"><a href="index.html">Home</a></li>
            <li class="navlink"><a href="about.html">About</a></li>
            <li class="navlink"><a href="contact.html">Contact</a></li>
        </ul>
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="lotusbg">
<div class="center">
    <img src="{{ url_for('detect_warrior3') }}">

</div>
<div id="mybutton">
            <a href="learn.html">
            <button class="previous">Try a new Pose</button>
            </a>
            </div>

        <script src="./index.js"></script>
    </div>
</body>

</html>